@import '../assets/style.scss';

.new-recipes {
    width: 80%;
    margin: auto;

    .box {
        width: 100%;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 10px;

        .recipes-header {
            width: 100%;
            padding: 10px;
            color: $color-title;
            background-color: $background-color-title;
            border-radius: 10px 10px 0 0;

            h2 {
                margin: 0;
            }
        }

        .recipes{
            .recipes-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 30px;

                .recipes-card {
                    width: 30%;
                    margin-bottom: 20px;
                    
                    .img-card {
                        img {
                            width: 100%;
                            height: 250px;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
    
                    .button-card{
                        button{
                            width: 100%;
                            padding: 10px 0;
                            background-color: $color-button;
                            @extend %button;

                            &:hover{
                                background-color: $color-button-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}