//color
$background-color-title: #212121;
$color-title: white;
$color-theme:#f57f17;
$color-button:#fdd835;
$color-button-hover:#fbc02d;
$color-border:#b0bec5;

//size
$font-size-title: 20px;

%input {
    padding: 10px 0 10px 5px;
    border: 1px solid $color-border;
    border-radius: 5px;
    outline: none;
}

%button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}